html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, sans-serif; 
    font-size: $m-size;
    background: $background;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}