//Colors
$background: #f6fafd;
$primary: #9585c4;
$secondary: #4ec2e2;
$text-dark: #7387a9;
$text-light: #94a2bf;


//Spacings
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;